.history-page {
    overflow-x: auto;
  }
  
  .history-page h2,
  .history-page h4 {
    text-align: center;
    margin: 20px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: #fff;
    background-color: #ff6f00;
    padding: 10px;
    border-radius: 5px;
  }
  .history-page h4 {
    align-items: center;
    max-width: 400px;
  }
  .history-page table {
    margin: auto;
    width: 100%;
    border-collapse: collapse;
  }
  
  .history-page table,
  .history-page th,
  .history-page tr,
  .history-page td {
    border: 1px solid #ddd;
  }
  
  th,
  td {
    text-align: center;
    padding: 10px;
    text-transform: capitalize;
  }
  
  table a {
    color: #ff6f00;
    text-decoration: none;
  }
  
  table a:hover {
    color: #ff8f00;
  }
  
  .history-page img {
    width: 70px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  }
  